@import 'variables';


.nosotros_header{
	background: url('../../ceaca_landing/header_nosotros.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	margin-bottom: 5rem;
}

.nosotros_header_titles{
	position: relative;
	color: #fff;
	top: 40%
}

.nosotros_header_title{
	font-size: 1.9rem;
	margin-bottom: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
}

.nosotros_header_subtitle{
	font-style: italic;
}



.img-effect-solid{
	margin-bottom: 2rem;
	position: relative;
}

.img-effect-solid::before{
	content: "";
	position: absolute;
	top: 26%;
	bottom: 25%;
	left: 10%;
	right: 10%;
	background-color: $cuadros;
}

.nosotros-imagen-card{
	position: relative;
	width: 200px;
	height: 350px;
	object-fit: cover;
	z-index: 10;
}

.nosotros_card_body{
	margin-bottom: 6rem;
	h2{
		color: grey;
		padding: 0 1rem;
		font-weight: bold;
		margin: 0;
		font-size: 1.7rem;
	}

	h2:last-of-type{
		color: #000;
		margin-bottom: 1rem;
	}

	.nosotros_card_text{
		padding: 0 1rem;
	}
}



@media (min-width: 990px)
{

	/*container global */

	.nosotros_container {
		width: 92%;
		margin: 0 auto;
	}

	.nosotros_header{	


		.nosotros_header_titles{
		}

		.nosotros_header_title{
			font-size: 2.8rem;
			font-family: $principal;
			padding: 0 10rem;
		}

		.nosotros_header_subtitle{
			padding: 0 26rem;
			font-size: 1.4rem;
			font-style: italic;
		}
	}

	.nosotros_header_titles::before{
		content: "";
		position: absolute;
		top: -10%;
		width: 43px;
		height: 104px;
		left: 5%;
		background-color: $cuadros;
	}


	.nosotros_header_titles::after{
		content: "";
		position: absolute;
		top: -10%;
		width: 43px;
		height: 104px;
		right: 0;
		background-color: $cuadros;
	}


	.img-effect-solid::before{
		left: 16%;
		right: 16%;
	}
}

