@import 'variables';

.club_header{
	margin-bottom: 3rem;
}

.club_container{
	max-width: 1000px;
	margin: 0 auto;
}

.club_image_container{
	width: 80%;
	margin: 0 auto;
}

.landing_header_nav_body.club{
	a {
		color: #000;
		font-weight: 300;	
	}
}

.landing_header_nav_container.club{
	border-bottom: 2px solid #000;
}

.landing_header_nav_body.club.scroll{
	.landing_header_nav_container.club {
		border-bottom: none;
	}
}





@media (min-width: 350px)
{
	.club_beneficios {
		margin-bottom: 3rem;
		background-color: $gris_club;
		position: relative;
		padding: 1.5rem 2rem;

		.club_beneficios_body{
			width: 100%;
			margin: 0;
			display: block;
		}

		.beneficios{

			border: none;
			justify-content: flex-start;

			li:nth-child(1){
				margin-top: 1rem;
			}

			.beneficios_body{
				list-style: none;				
			}
		}
	}

	.club_beneficios::before {
		content: '';
		width: 3px;
		height: 31px;
		background-color: #a2c430;
		position: absolute;
		bottom: -2%;
		left: 50%;
		transform: translateX(-50%);
	}

	.bolsa_trabajo{
		padding: 0;
	}

	.bolsa_trabajo_body{
		list-style: none;
		li:last-of-type{
			margin-bottom: 1rem;
		}
	}


	.club_informacion_card {
		

		.club_informacion_card_header{
			text-align: center;
			margin-bottom: 1.5rem;
		}

		.club_informacion_card_header_image{
			max-width: 100%;
		}

		.club_informacion_card_body{
			padding: 0 1rem;
			line-height: 1.7rem;
		}
	}

	.club_card_title{
		font-size: 1.5rem;
		margin-bottom: 1rem;
		font-weight: 700;
		font-family: $principal;
	}

	.club_card_title.number_2{
		text-align: center;
	}

	.club_informacion_card_header_image.number_2{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 1.5rem;
	}


	.club_header_body{
		position: relative;
		padding-top: 6rem;
		height: 100%;

		.nosotros_header_title{
			font-size: 1.7rem;
			font-weight: 300;
		}

		.nosotros_header_images{
			width: 100%;
			margin: 0 auto;
			display: grid;
			grid-template-columns: repeat(13, 1fr);
			grid-template-rows: 1rem 1rem repeat(2, 4rem) 1rem;
			grid-gap: .3rem;

			img{
				height: 100%;
				width: 100%;
			}

			img:nth-child(1){
				grid-column: 1/4;
				grid-row: 3/4;
			}

			img:nth-child(2){
				grid-column: 4/8;
				grid-row: 2/4;
			}

			img:nth-child(3){
				grid-column: 8/11;
				grid-row: 3/4;
			}

			img:nth-child(4){
				position: relative;
				grid-column: 11/14;
				grid-row: 4/6;
				top: -54%;
				object-fit: cover;
			}

			img:nth-child(5){
				grid-column: 7/11;
				grid-row: 4/6;
			}

			img:nth-child(6){
				grid-column: 4/7;
				grid-row: 4/5;
			}
		}
	}

}


@media (min-width: 768px)
{
	.club_header_body{
		position: relative;
		padding-top: 6rem;
		height: 100%;

		.nosotros_header_title{
			font-size: 2.5rem;
			font-weight: 300;
		}

		.nosotros_header_images{
			max-width: 1000px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: repeat(13, 1fr);
			grid-template-rows: repeat(8, 4rem) .5rem;
			grid-gap: .3rem;

			img{
				height: 100%;
				width: 100%;
			}

			img:nth-child(1){
				grid-column: 1/4;
				grid-row: 3/6;
			}

			img:nth-child(2){
				grid-column: 4/8;
				grid-row: 1/5;
			}

			img:nth-child(3){
				grid-column: 8/11;
				grid-row: 2/5;
			}

			img:nth-child(4){
				grid-column: 11/14;
				grid-row: 3/6;
				top: 0;
			}

			img:nth-child(5){
				grid-column: 7/11;
				grid-row: 5/10;
			}

			img:nth-child(6){
				grid-column: 4/7;
				grid-row: 5/8;
			}
		}
	}
}

@media (min-width: 990px){

	.club_header_body{
		padding-top: 13rem;
	}

	.club_beneficios{
		margin-bottom: 3rem;
		padding: 3rem 3rem;

		.club_beneficios_body{
			width: 89%;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 60% 40%;
		}

		.beneficios{
			border-right: 3px solid #a2c430;
			justify-content: center;
		}
	}

	.club_beneficios::before{
		width: 0;
		height: 0;
	}

	.beneficios_body{
		list-style: none;
		li {
			margin-bottom: .4rem;
		}

		li:last-of-type{
			margin: 0;
		}
	}

	.bolsa_trabajo{
		padding-left: 2.5rem;
		padding-top: 1.5rem;

		.bolsa_trabajo_title{
			font-weight: 700;
		}	
	}

	.bolsa_trabajo_body{

		list-style: none;
		li {
			margin-bottom: .4rem;
		}

		li:last-of-type{
			margin: 0;
		}
	}

	.club_informacion_card{
		margin-bottom: 3rem;
		display: grid;
		grid-template-columns: 1fr 1fr;

		.club_informacion_card_header{
			text-align: end;
		}


		.club_informacion_card_body{
			line-height: 2rem;
			padding-left: 3rem;
			width: 82%;
		}
	}

	.club_informacion_card.number_2{
		margin-bottom: 2rem;
		grid-template-rows: repeat(4, 6rem);

		.club_informacion_card_header_image.number_2{
			padding-top: 2rem;
			display: grid;
			grid-column: 2/3;
		}

		.club_informacion_card_body.number_2{
			padding: 0;
			width: 80%;
			grid-column: 1/2;
			grid-row: 2/ span;
		}
	}

	.club_card_title{
		font-size: 2.5rem;
	}

	.club_card_title.number_2{
		text-align: start;
	}

	.club_image_container{
		width: 100%;
		margin: 0
	}

	.club_informacion_card_header_image.number_2{
		left: 0;
		transform: translateX(0%);
	}
}

