@import 'variables';


.nosotros_header{
	background: url('../../ceaca_landing/header_nosotros.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

.nosotros_header_titles{
	position: relative;
	color: #fff;
	top: 20%
}

.nosotros_header_title{
	font-size: 1.9rem;
	margin-bottom: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
}

.nosotros_header_subtitle{
	font-style: italic;
}

@media (min-width: 990px)
{

	/*container global */

	.nosotros_container {
		width: 92%;
		margin: 0 auto;
	}

	.nosotros_header{	


		.nosotros_header_titles{
		}

		.nosotros_header_title{
			font-size: 2.8rem;
			font-family: $principal;
			padding: 0 10rem;
		}

		.nosotros_header_subtitle{
			padding: 0 26rem;
			font-size: 1.4rem;
			font-style: italic;
		}
	}

	.nosotros_header_titles::before{
		content: "";
		position: absolute;
		top: -10%;
		width: 43px;
		height: 104px;
		left: 5%;
		background-color: lime;
	}


	.nosotros_header_titles::after{
		content: "";
		position: absolute;
		top: -10%;
		width: 43px;
		height: 104px;
		right: 0;
		background-color: lime;
	}
}

